page-ios {
    .plugin-item {
        border-bottom: 16px solid #F8F8F8
    }
    .plugin-name {
        padding-left: 5px;
    }
    ion-icon[item-start] {
        margin: 0px !important;
    }
    .item-block {
        min-height: 0px;
    }
    .label {
        margin: 0px;
    }
    .info-list {
        margin: -1px 0px 5px 0px;
        padding-left: 5px;
        .info-item {
            min-height: 14px;
            font-size: 14px;
            padding-top: 5px; // border-bottom: 1px solid black !important;
            .info-item-start {
                min-width: 14px !important;
                min-height: inherit;
                font-size: 14px;
                margin: 0px;
                top: 0px;
                padding-right: 5px;
                border-right: 1px solid black !important;
            }
            .info-item-content {
                min-height: inherit;
                font-size: inherit;
                padding-left: 5px;
                .platform-icon {
                    color: #488aff;
                    margin-right: 5px !important;
                }
            }
        }
    }
    .line {
        border: 1px solid black !important;
    }
    .black-line-bottom {
        border-bottom: 1px solid black !important;
    }
    .red-line-bottom {
        border-bottom: 1px solid red !important;
    }
    .green-line-bottom {
        border-bottom: 1px solid green !important;
    }
}
