page-camera {
    ion-item {
        border-bottom: 1px solid lightgray !important;
    }
    .item-left-label {
        border-right: 1px solid lightgray;
        width: 170px;
    }
    ion-select {
        max-width: 100%;
    }
}
